*.bak
*.vsarduino.h
*.vmps.xml
*.cppproj
*.atsln
*.atsuo
*.d
*.eep
*.elf
*.o
*.hex
libraries/*
out
gvim
ipch/
openLRSng.opensdf
openLRSng.sdf
openLRSng.sln
openLRSng.suo
openLRSng.vcxproj
openLRSng.vcxproj.filters
openLRSng.vcxproj.user
